.App {
  text-decoration: none;
  height: 100vh;

  background-image: url("./himmel-wolken-wetter-hintergrund-1597685110QCU.jpg");
}
a {
  text-decoration: none;
}
.App1 {
  text-decoration: none;
  text-align: center;
  display: flex;
}
.App1 :hover {
  background-color: #ccccff;
  cursor: pointer;
}
